<!DOCTYPE html>
<html>
<head>
  <title>Admin Message</title>
</head>
<body>
     <nav class="navbar navbar-dark fixed-top blue flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    Acheron</a>
    <div class="input-group pl-5">
        <input class=" form-control col-md-6 col-sm-6 border" type="search" placeholder="search" id="search" style="width:700px">
        <span class="input-group-append">
              <button class="btn btn-dark">Search</button>
        </span>
    </div>
       
    {{tit}}
      <ul class="navbar-nav col-md-4 col-sm-3 ml-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" id="signout"><button class="btn btn-dark" (click)="onLogout()" >Signout</button></a>
        </li>
      </ul>

      <ul class="navbar-nav col-md-4 col-sm-3">
        <li class="nav-item text-nowrap">
            <!-- <img src="../../../../assets/logo.png" class="mx-auto icon"> -->
          <!-- <a class="nav-link" id="signout"><button class="btn btn-dark" (click)="onLogout()" >Signout</button></a> -->
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
          <div class="sidebar-sticky mt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link text-white" >
                  <i class="fas fa-home"></i>
                  Dashboard 
                </a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link text-white"  (click)='setView("viewbooks")'  >
                  <i class="fas fa-book"></i>
                  Books
                </a>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link text-white" (click)='setView("viewusers")' *ngIf="admin" > -->
                <a class="nav-link text-white" (click)='setView("viewusers")' *ngIf="admin">
                

                <i class="fas fa-users"></i>
                  Members
                </a>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link text-white" (click)='setView("addusers")' *ngIf="admin" > -->
                <a class="nav-link text-white" (click)='setView("addusers")'  *ngIf="admin">

                <i class="fas fa-users"></i>
                  Add Members
                </a>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link text-white" (click)='setView("addbooks")' *ngIf="admin" > -->
                <a class="nav-link text-white" (click)='setView("addbooks")'  *ngIf="admin" >

                <i class="fas fa-users"></i>
                  Add Books
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" (click)='setView("message")' >
                  <i class="fas fa-comments" ></i>
                  Messages
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" (click)='setView("addcat")' >
                    <i class="fas fa-comments" ></i>
                    Add Categories
                  </a>
                </li>
             
            </ul>

           
          </div>
        </nav>
        <div class="col-md-10  " style="margin-top: 4rem!important; background-color: #f5f5f5">
             
           <div class="mt-5">
            <app-user *ngIf="activeView === 'user'"></app-user>
          
            <app-view-users *ngIf="activeView === 'viewusers'"></app-view-users>
            <app-view-books *ngIf="activeView === 'viewbooks'"></app-view-books>
            <app-add-users *ngIf="activeView === 'addusers'"></app-add-users> 
            <app-add-books *ngIf="activeView === 'addbooks'"></app-add-books> 
            <!-- <app-edit-users *ngIf="activeView === 'editbooks'"></app-edit-users> -->
            <app-message *ngIf="activeView === 'message'"></app-message>
            <app-categories *ngIf="activeView === 'addcat'"></app-categories>
           </div>

          </div>
        </div>
        
      </div>
    </body>
    </html>