body{
  background-image: url(../../../../assets/bgimgg.PNG);
  height: 100vh;
  background-repeat: no-repeat;
    background-size: cover;
}

  .div{
    background-image: url(../../../../assets/divimg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
  }

  .icon{
    /* height: 190px;
    width: 180px; */
    /* object-fit: cover; */
  }
  /* .card {
    min-height: 600px;
} */