<div class="form-group">
    <label class="col-md-4"><h3>Category</h3></label>
    <select class="form-control col-md-2" (change)="filterForeCasts($event.target.value)">
      <option>select Category</option>
      <option value="All">All</option>
      <option *ngFor="let ip of cats" [value]="ip.cat">{{ip.cat}}</option>
    </select>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <th>Book Id</th>
      <th>Book Name</th>
      <th>categoryName</th>
      <th>Author</th>
      <th>Publication</th>
      <th *ngIf="admin">Count</th>
      <th *ngIf="!admin">Action</th>
    </thead>
    <tbody>
      <tr *ngFor='let ip of book|paginate: { itemsPerPage: 2, currentPage: q}'>
        <td>{{ip.bookId}}</td>
        <td>{{ip.bookName}}</td>
        <td>{{ip.categoryName}}</td>
        <td>{{ip.author}}</td>
        <td>{{ip.publ}}</td>
        <td *ngIf="admin">{{ip.count}}</td>
        <td *ngIf="!admin"><button class="btn btn-secondary" (click)="details(ip)" >Request</button></td>
  
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td> <pagination-controls (pageChange)="q = $event"></pagination-controls></td></tr>
        
      
    </tbody>
    
  </table>
  <!-- <div  *ngIf="book === null" >
    <p >No books found</p>
  </div> -->
  
  